# Requirements for Streamlit deployment

#core Framework
streamlit>=1.29.0

#Data Processing
pandas>=2.0.0
numpy>=1.24.0

#NLP Libraries
scikit-learn>=1.3.0
nltk>=3.8.0

#Visualizations (Interactive!)
plotly>=5.18.0
networkx>=3.1.0
wordcloud>=1.9.0
matplotlib>=3.8.0
